* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #808088;
  position: relative;
}

.template {
  display: flex;
}

.content-box {
  position: fixed;
  background-color: black;
  height: 1260px;
  width: 1300px;
  margin-right: 240px;
}

.bottom-box {
  position: fixed;
  background-color: #ff2400;
  border: 5px solid black;
  height: 200px;
  width: 1920px;
  bottom: 0;
}

.weather {
  background-color: #1f567c;
  margin: 0px 720px;
  position: fixed;
  border: 5px solid black;
  height: 200px;
  bottom: 0px;
}


.weatherwidget-io {
  width: 1200px !important;
  margin-top: 20px;
}


#date-time {
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  margin-left: 80px;
  margin-bottom: 70px;
  bottom: 0px;
}

h2 {
  clear: both;
  margin-top: 2em;
}

#gcf-design .gcf-header-block {
  font-size: 32px;
  background: #ff2400;
  filter: none;
}

#gcf-design {
  position: fixed;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 20px 0px 0px 1280px;
  height: 860px;
  width: 600px;
  background: #dee2e6;
  border-left: 5px solid black;
  filter: none;
}